html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #fdfdfd;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

img {
    width: 7rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 2px;
}