.gallery {
    display: grid;
    grid-template-rows: max-content 10%;
    grid-template-columns: 20vw 1fr 20vw;

    padding-top: 5rem;
    padding-bottom: 8rem;


    &__images {
        grid-column: 2 / 3;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 20rem);

        gap: 2rem;

        @media screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 20rem);

        }

        @media screen and (max-width: $bp-small) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 20rem);
        }
    }

    button {
        grid-column: 2 / 3;
        grid-row: 2 / -1;

        justify-self: center;
        align-self: center;
        padding: 1.5rem 5rem;
        color: #fdfdfd;
        background-color: $color-teal-dark;
        border: none;
        transition: all .3s;

        &:hover {
            background-color: $color-teal-light;
        }

        cursor: pointer;

        svg {
            fill: currentColor;
            transform: translateY(.4rem);
        }
    }

    @media screen and (max-width: $bp-large) {

        &__images {
            grid-column: 1 / -1;
            padding: 0 2rem;
        }
    }

}