.hero {
    display: grid;
    grid-template-rows: [header-start] 10vh [header-end] 1fr [gallery-end];
    font-size: 1.5rem;


    .header {
        grid-row: header-start / header-end;
        grid-column: 1 / -1;

        position: relative;
        z-index: 20;
        color: #fdfdfd;

        &__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;

            padding: 0 2rem;
            margin-top: 3rem;
            background-color: $color-black-transparent;
            border-radius: 5rem;


            &__logo {
                display: grid;
                grid-template-columns: max-content 1fr;
                gap: 1rem;
                align-items: center;

                img {
                    height: 6rem;
                    width: 6rem;
                }
            }

            .search-bar {
                width: 30%;
                background-color: $color-black-transparent;
                border-radius: 30px;
                padding: .5rem 1rem;

                display: flex;
                justify-content: end;
                transition: 0.3s all;
                cursor: pointer;

                &:hover {
                    background-color: $color-grey-light;
                }


                svg {
                    width: 2rem;
                    height: 2rem;
                    fill: #fdfdfd;
                    justify-items: flex-end;

                }
            }
        }
    }



    span {
        justify-self: center;
    }

    &__slides {
        grid-row: header-start / gallery-end;
        grid-column: 1 / -1;
        position: relative;
        z-index: 1;

        display: flex;
    }

    &__slide {
        position: relative;
        flex: 1;
        transition: 0.5s ease-in-out;
        height: 100%;
        width: 100%;

        &:nth-child(1) {
            background: url(../img/heading-1.jpg);
            background-position: center;
            background-size: cover;
            flex: 3;
        }

        &:nth-child(2) {
            background: url(../img/heading-2.jpg);
            background-position: center;
            background-size: cover;
        }

        &:nth-child(3) {
            background: url(../img/heading-3.jpg);
            background-position: center;
            background-size: cover;
        }

        &:nth-child(4) {
            background: url(../img/heading-4.jpg);
            background-position: center;
            background-size: cover;
        }

        &__content {
            display: grid;
            grid-template-rows: repeat(2, max-content);
            row-gap: 2.5rem;
            position: absolute;
            padding: 1rem;
            bottom: 30%;
            left: 15%;
            width: min-content;
            line-height: 4rem;
            background: #00000080;
            border-radius: 3px;
            color: #fdfdfd;
            visibility: hidden;
            opacity: 0;
            transition: 0s;
            transform: translateY(100px);

            button {
                justify-self: start;
            }
        }

        &:hover {
            flex-grow: 5;

            .hero__slide__content {
                visibility: visible;
                opacity: 1;
                transition: 0.5s;
                transition-delay: 0.5s;
                transform: translateY(0);

            }
        }


    }
}

.divider {
    background-color: $color-grey-med;
    box-shadow: $box-shadow-small;

    display: grid;
    grid-template-columns: 40vw 10%;
    justify-content: space-between;
    padding: 0 6rem;

    text-transform: uppercase;


    .links {
        grid-column: 1 / 2;

        &--1 {
            color: rgb(248, 97, 42);
        }

        &--2 {
            color: rgb(46, 153, 32);
        }

        &--3 {
            color: $color-teal-light;
        }

    }

    &__dates {
        grid-column: 2 / -1;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;

        :nth-child(1) {
            border: 2px solid currentColor;
            border-radius: 5rem;
            padding: .3rem 1.5rem;

        }
    }
}